.habits {
  display: flex;
  flex-direction: column;
  overflow: hidden; // Prevent scrolling
  background-color: var(--bg);

  .habits-list {
    flex: 1 1 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .habits-create {
    margin: 1rem 1rem 2rem 1rem;

    .big-button {
      display: flex;
      aspect-ratio: 2 / 1;
    }
  }
}
