<div class="habits">
  <div class="habits-header header">
    <button
      mat-icon-button
      routerLink="/"
      [attr.aria-label]="'MAIN.HOME' | translate"
    >
      <mat-icon>home</mat-icon>
    </button>
    <h1>{{ "HABITS.TITLE" | translate }}</h1>
  </div>
  <div class="habits-list">
    <app-habit
      *ngFor="let habit of habits$ | async"
      [habit]="habit"
    ></app-habit>
  </div>
  <div class="habits-create">
    <app-big-button (click)="addNewHabit()">
      {{ "HABITS.CREATE" | translate }}
    </app-big-button>
  </div>
</div>
