@import "../../../breakpoints.scss";

.calendar {
  height: 100vh;
  overflow: auto;

  .calendar-header {
    .month-display {
      flex-grow: 1;
      font-size: x-large;
    }
  }

  .calendar-list {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    .calendar-list {
      list-style-type: none;
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    .dow-1 {
      grid-column: 1;
    }
    .dow-2 {
      grid-column: 2;
    }
    .dow-3 {
      grid-column: 3;
    }
    .dow-4 {
      grid-column: 4;
    }
    .dow-5 {
      grid-column: 5;
    }
    .dow-6 {
      grid-column: 6;
    }
    .dow-0 {
      grid-column: 7;
    }
  }
}
