<div class="calendar">
  <app-header [i18nTitle]="(currentDate | date: 'MMMM yyyy') ?? ''">
    <div class="borderline">
      <button
        mat-icon-button
        (click)="prevMonth()"
        [attr.aria-label]="'MAIN.PREVIOUSMONTH' | translate"
        [matTooltip]="'MAIN.PREVIOUSMONTH' | translate"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="nextMonth()"
        [attr.aria-label]="'MAIN.NEXTMONTH' | translate"
        [matTooltip]="'MAIN.NEXTMONTH' | translate"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </app-header>

  <div class="calendar-list">
    @for (calenderDay of datesInMonth; track calenderDay.date) {
      <app-day
        [ngClass]="['dow-' + calenderDay.day]"
        [calenderDay]="calenderDay"
      ></app-day>
    }
  </div>
</div>
