@use "@angular/material" as mat;

:host.header {
  background-color: var(--primary);
  font-weight: 700;
  max-height: 4rem;
  padding: 1rem 2rem;
  align-content: center;
  font-style: italic;
  margin-top: 0;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  @include mat.elevation(4);

  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 1rem;

  h1 {
    margin: 0;
    flex-grow: 1;
    font-size: x-large;
  }
}
