<div class="h-screen overflow-auto">
  <div class="calendar-header">
    <button
      mat-icon-button
      (click)="prevMonth()"
      [attr.aria-label]="'MAIN.PREVIOUSMONTH' | translate"
    >
      <mat-icon class="text-rg">chevron_left</mat-icon>
    </button>
    <span class="text-xl text-center">{{
      currentDate | date: "MMMM yyyy"
    }}</span>
    <button
      mat-icon-button
      (click)="nextMonth()"
      [attr.aria-label]="'MAIN.NEXTMONTH' | translate"
    >
      <mat-icon class="text-rg">chevron_right</mat-icon>
    </button>
  </div>

  <ul class="list-none p-0">
    @for (calenderDay of datesInMonth; track calenderDay.date) {
      <app-day [calenderDay]="calenderDay"></app-day>
    }
  </ul>
</div>
