<h2 mat-dialog-title>{{ "NEWHABIT.DIALOG.HEADER" | translate }}</h2>
<mat-dialog-content>
  <form #dialogForm="ngForm">
    <p>{{ "NEWHABIT.NAME.INFO" | translate }}</p>
    <mat-form-field appearance="fill" class="text-input">
      <mat-label>{{ "NEWHABIT.TITLE" | translate }}</mat-label>
      <input matInput [(ngModel)]="data.title" name="title" required />
      @if (
        dialogForm.controls["title"] &&
        dialogForm.controls["title"].invalid &&
        dialogForm.controls["title"].touched
      ) {
        <mat-error>
          {{ "NEWHABIT.DIALOG.TITLE_REQUIRED" | translate }}
        </mat-error>
      }
    </mat-form-field>
    <p>{{ "NEWHABIT.TYPE.INFO" | translate }}</p>
    <p>{{ "NEWHABIT.RECURRENCE.INFO" | translate }}</p>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" tabindex="0">
    {{ "MAIN.DIALOG.CANCEL" | translate }}
  </button>
  <button
    mat-button
    [disabled]="dialogForm.invalid"
    (click)="onSubmit()"
    tabindex="0"
  >
    {{ "MAIN.DIALOG.SUBMIT" | translate }}
  </button>
</mat-dialog-actions>
