.app-habits-dialog {
  .habit-checkbox {
    width: 100%;

    .mdc-form-field {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 0.25rem;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid var(--bg);
    }
  }
}
