<h2 mat-dialog-title>{{ "HABITS.DIALOG.HEADER" | translate }}</h2>
<mat-dialog-content>
  <form #appointmentForm="ngForm">
    <p>{{ "HABITS.DIALOG.INFO" | translate }}</p>
    {{ habitTrackingData | json }}
    <mat-checkbox
      *ngFor="let habit of habitTrackingData; let i = index"
      [(ngModel)]="habit.done"
      [name]="'habit_' + i"
      class="checkbox-margin"
    >
      habit.name
    </mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" tabindex="0">
    {{ "HABITS.DIALOG.CANCEL" | translate }}
  </button>
  <button
    mat-button
    [disabled]="appointmentForm.invalid"
    (click)="onSubmit()"
    tabindex="0"
  >
    {{ "HABITS.DIALOG.SUBMIT" | translate }}
  </button>
</mat-dialog-actions>
