<h2 mat-dialog-title>{{ "HABITS.DIALOG.HEADER" | translate }}</h2>
<mat-dialog-content>
  <form #dialogForm="ngForm">
    <p>{{ "HABITS.DIALOG.INFO" | translate }}</p>
    <mat-checkbox
      *ngFor="let habit of data; let i = index"
      [(ngModel)]="habit.done"
      [name]="'habit_' + i"
      [labelPosition]="'before'"
      class="habit-checkbox"
    >
      {{ getHabitName(habit.habitId) | async }}
    </mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" tabindex="0">
    {{ "MAIN.DIALOG.CANCEL" | translate }}
  </button>
  <button
    mat-button
    [disabled]="dialogForm.invalid"
    (click)="onSubmit()"
    tabindex="0"
  >
    {{ "MAIN.DIALOG.SUBMIT" | translate }}
  </button>
</mat-dialog-actions>
