@import "../../../breakpoints.scss";

.calendar-day {
  &.today {
    background-color: var(--primary);
  }

  position: relative;
  padding: 0.51rem;
  margin: 0.25rem;
  border-radius: 0.5rem;

  .date-and-day {
    display: flex;
    justify-content: space-between;

    .date {
      font-size: x-large;
      font-weight: 800;
    }

    .day {
      font-size: small;
      font-weight: 200;
    }

    .actions {
      margin-top: -4px;
      margin-right: -4px;
    }
  }

  .appointments {
    display: flex;
    flex-direction: column;

    .appointment {
      display: flex;
      gap: 0.5rem;

      > * {
        align-self: center;
      }

      .title {
        font-size: x-large;
      }

      .description {
        font-size: small;
        font-weight: 200;
      }
    }
  }
  .habits {
    display: flex;
    gap: 4px;
    flex-direction: row-reverse;
    height: 8px;

    .habits-dot {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: var(--text);
    }
  }

  .blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin: 4px -0.5rem 8px;
    align-items: center;
  }
}

@media (min-width: $breakpoint-desktop) {
  .calendar-day {
    .date-and-day .title {
      display: flex;
      flex-direction: column;
    }
    .date-and-day .actions {
      display: flex;
      flex-direction: row;
    }
    .blocks {
      margin: 8px -16px;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .calendar-day {
    background-color: var(--bg);
    box-shadow:
      rgba(255, 255, 255, 0.4) 0px 2px 1px -1px,
      rgba(255, 255, 255, 0.3) 0px 1px 1px 0px,
      rgba(255, 255, 255, 0.3) 0px 1px 3px 0px;
  }

  ::ng-deep.dark .calendar-day {
    background-color: var(--bg);
    box-shadow:
      rgba(255, 255, 255, 0.15) 0px 2px 1px -1px,
      rgba(255, 255, 255, 0.05) 0px 1px 1px 0px,
      rgba(255, 255, 255, 0.05) 0px 1px 3px 0px;
  }
}
