<h2 mat-dialog-title>{{ "MAIN.DIALOG.HEADER" | translate }}</h2>
<mat-dialog-content>
  <form #appointmentForm="ngForm">
    <p>{{ "APPOINTMENT.TITLE.INFO" | translate }}</p>
    <mat-form-field appearance="fill" class="text-input">
      <mat-label>{{ "MAIN.APPOINTMENT.TITLE" | translate }}</mat-label>
      <input matInput [(ngModel)]="data.title" name="title" required />
      @if (
        appointmentForm.controls["title"] &&
        appointmentForm.controls["title"].invalid &&
        appointmentForm.controls["title"].touched
      ) {
        <mat-error>
          {{ "MAIN.APPOINTMENT.TITLE_REQUIRED" | translate }}
        </mat-error>
      }
    </mat-form-field>
    <p>{{ "APPOINTMENT.DESCRIPTION.INFO" | translate }}</p>
    <mat-form-field appearance="fill" class="text-input">
      <mat-label>{{ "MAIN.APPOINTMENT.DESCRIPTION" | translate }}</mat-label>
      <input matInput [(ngModel)]="data.description" name="description" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" tabindex="0">
    {{ "MAIN.DIALOG.CANCEL" | translate }}
  </button>
  <button
    mat-button
    [disabled]="appointmentForm.invalid"
    (click)="onSubmit()"
    tabindex="0"
  >
    {{ "MAIN.DIALOG.SUBMIT" | translate }}
  </button>
</mat-dialog-actions>
