<div class="container">
  <app-header i18nTitle="APP.TITLE" />
  <div class="main-image"></div>
  <p style="font-weight: 200; font-style: italic">
    {{ "APP.COPY" | translate }}
  </p>
  <p style="font-weight: 200; font-style: italic">
    {{ "APP.TITLE" | translate }}
  </p>
  <div class="flex-container">
    <app-big-button routerLink="/calendar" class="flex-card">
      {{ "APP.CALENDAR" | translate }}
    </app-big-button>
    <app-big-button routerLink="/habits" class="flex-card">
      {{ "APP.HABITS" | translate }}
    </app-big-button>
  </div>
</div>
