@import "@fontsource/roboto/index.css";

:root {
  // @include mat.all-component-themes($light-theme);
  --primary: #ffbe98;
  --accent: #d87737;
  --bg: #fff7f0;
  --text: #402e32;

  &.dark {
    // @include mat.all-component-themes($dark-theme);
    --primary: #cc987a;
    --accent: #d87737;
    --bg: #000;
    --text: #dfe0df;
  }
}

html,
body {
  height: 100%;
  background-color: var(--bg);
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: var(--text) !important;
}

@media (max-width: 640px) {
  body {
    user-select: none;
  }
}

.full-page-dialog {
  width: 100% !important;
  max-width: none !important;
  margin: 16px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
