// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "sass:color";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import "material-icons/iconfont/material-icons.css";

// Define the theme object.
$calendar-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$red-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);
$calendar-dark: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$red-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($calendar-light);
  &.dark {
    @include mat.all-component-colors($calendar-dark);
  }
}
// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($calendar-theme);
// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($calendar-theme);

:root {
  --primary: hsl(198, 100%, 73%);
  --secondary: hsl(2, 100%, 74%);
  --black: #000;
  --bg: hsl(198, 100%, 98%);
  --text: #402e32;

  &.dark {
    --primary: hsl(198, 100%, 38%);
    --secondary: hsl(2, 100%, 39%);
    --bg: hsl(198, 100%, 12%);
    --text: #dfe0df;
  }
}

.dow-0 .date {
  color: #ff7e79;
}

html,
body {
  height: 100%;
  background-color: var(--bg);
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--text) !important;

  overscroll-behavior: none;
}

@media (max-width: 640px) {
  body {
    user-select: none;
  }
}

.full-page-dialog {
  width: 100% !important;
  max-width: none !important;
  margin: 16px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

div.mat-mdc-select-panel {
  max-height: unset !important;
}

@font-face {
  font-family: "Inter";
  src: url("/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
