@if (calenderDay) {
<li class="relative group hover:bg-gray-200 p-4 border-b border-gray-300"
[ngClass]="{'today bg-blue-200 hover:bg-blue-300': calenderDay.today, 'first': calenderDay.date === 1}">
  <div class="flex justify-between" >
    <div>
    <span class="text-2xl">{{ calenderDay.date }} </span>
    <span class="text-sm font-light">{{ "MAIN.WEEKDAY." + calenderDay.day | translate }}</span>
  </div>
  <button mat-button (click)="addAppointment()">
    {{ "MAIN.ADDAPPOINTMENT" | translate }}
  </button>

</div>
  <div class="ml-8">

    <ul>
      @for (appointment of appointments$ | async; track appointment.id) {
        <li>
          <span class="text-xl">{{ appointment.title }} </span>
            <span class="text-sm font-light">{{ appointment.description }}
            </span>
      <button mat-icon-button (click)="deleteAppointment(appointment.id!)" style="bottom: -8px" >
        <mat-icon class="text-sm">delete</mat-icon>
      </button>
        </li>
      }
    </ul>
  </div>
</li>
}
